<div class="row hidden-on-mobile" style="margin-bottom: -100px;">
                        <div class="card widget widget-popular-blog">
                            <div class="card-body" >
                                <nav class="navbar navbar-light navbar-expand-lg" style="margin-top: -20px; margin-bottom: -20px;">
                                    <div class="container-fluid" hidden-on-mobile>
                                        <div class="navbar-nav" id="navbarNav">
                                            <ul class="navbar-nav">
                                                <a class="nav-link hide-sidebar-toggle-button" href="https://michel929.de">Copyright 2023 - Developed by michel929</a>
                                            </ul>
                                        </div>
                                        <div class="d-flex">
                                            <ul class="navbar-nav">
                                                <li class="nav-item hidden-on-mobile">
                                                    <a class="nav-link" href="https://status.sensivity.team">Status</a>
                                                </li>
                                                <li class="nav-item hidden-on-mobile">
                                                    <a class="nav-link" href="https://sensivity.team/impressum.php">Impressum</a>
                                                </li>
                                                <li class="nav-item hidden-on-mobile">
                                                    <a class="nav-link" href="https://sensivity.team/datenschutz.php">Datenschutzerklärung</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                </div>